/* Fonte */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Tailwind */
@import "tailwindcss";

@theme {
  /* Fontes */
  --font-poppins: "Poppins", sans-serif;
  /* Paleta de cores */
  --color-bordin-primary: #422ad5;
  --color-bordin-secundary: #4f14ff;
  --color-bordin-third: #f1edff;
  --color-bordin-fourth: #00adff;
  --color-font-bordin-primary: #ffffff;
  --color-font-bordin-secundary: #6e6e6e;
  --color-dot-primary: #d0d0d0;
}

/* Resets da página */
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
p,
a {
  @apply font-poppins;
}

/* Preloader da página */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white; /* pode ser outra cor */
  z-index: 9999; /* fica por cima de tudo */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease;
}

/* efeito de fade-out */
#preloader.hide {
  opacity: 0;
  pointer-events: none;
}

/* Menu da barra de navegação */

.menu li a:focus,
.menu li a:active {
  @apply bg-white text-bordin-secundary;
}
/* Centralizar a ancora das opções do menu ao pressionar */
#family-plan,
#business-plan,
#business-premium-plan {
  @apply scroll-mt-[10rem];
}

/** Dots do carrossel */
/* Bolinhas do carrossel */
.btn-xs {
  @apply w-2 h-2 rounded-full bg-gray-300 p-0; /* cinza quando não ativo */
}

/* Bolinha ativa */
.btn-primary {
  @apply bg-bordin-primary; /* cor do botão ativo */
}

/* CSS para que os as setas de deslize do carrossel */
.carousel-btn {
  @apply hover:border-none text-bordin-primary hover:text-bordin-third bg-bordin-third hover:bg-bordin-primary;
}
